<div class="container">
    <form class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label>新闻标题</label>
                <input ng-model="news.title" type="text" placeholder="新闻标题">
            </div>

            <div class="pure-control-group">
                <label>新闻内容</label>
                <textarea ng-model="news.content"></textarea>
            </div>

            <div class="pure-controls">

                <button ng-click="sendNews()" type="button" class="pure-button pure-button-primary">提交</button>
            </div>
        </fieldset>
    </form>


</div>